html {
    scroll-behavior: smooth;
  }

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0px;
    background-color: #1F2235;
    color: white;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt
}

img {
    height: auto;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00deaf;
    border-radius: 20px;
    margin: 3px;
  }


/* Start Customs */
.unlocked {
    position: relative;
}

.dark {
    background-color: #010312d8;
    overflow: hidden;
}

.light {
    background-color: white;
    overflow: hidden;
}

.no-mp {
    margin: 0;
    padding: 0;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fill {
    height: 100%;
    width: 100%;
}

.primary-color {
    background-color: #1F2235;
}

.alt-primary-color {
    background-color: #23263a;
}

.secondary-color {
    background-color: #00deaf;
}

.section-padding {
    padding: 110px 0;
}

.card-padding {
    padding: 15px;
}

.full-vh {
    height: 100vh;
}

.center-text {
    text-align: center!important;
}

.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.self-justify-center {
    display: flex;
    align-self: center;
    margin: 0 auto;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.underline {
    height: 4px;
    width: 50px;
    margin: 40px auto;
}

.emptyspace {
    width: 100%;
    height: 30vh;
}

.list-inline {
    display: flex;
    align-items: center;
    list-style: none;
}

.padding-bottom {
    padding-bottom: 3rem;
}

.icon-backg {
    height: 130px;
    width: 130px;
    background-color: #ffffff1a;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.html5 {
    width: 90px;
    height: 90px;
    background-image: url(/img/iconfinderHTML.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.css3 {
    width: 100px;
    height: 100px;
    background-image: url(/img/iconfinderCSS.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.js {
    width: 100px;
    height: 100px;
    background-image: url(/img/icons8JS.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.react {
    width: 100px;
    height: 100px;
    background-image: url(/img/iconfinderReact.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.git {
    width: 100px;
    height: 100px;
    background-image: url(/img/iconfinderGit.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.bootstrap {
    width: 100px;
    height: 100px;
    background-image: url(/img/iconfinderBootsrap.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

.sass {
    width: 100px;
    height: 100px;
    background-image: url(/img/iconfinderSass.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

#contingency {
    font-size: .7rem;
    font-weight: 100;
    margin: 1rem;
}

.mychart {
    background-color: transparent;
    width: 100%;
    border: none;
}

/* End Customs */

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(359deg); }
}

.spin {    
    animation: spin 6s infinite linear;
    -webkit-animation: spin 6s infinite linear;
}

.logo {
    align-items: center;
    display: flex;
}

.logo p {    
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0 10px 10px 10px;
}

.logo img {
    height: 3rem;
}

.logo p span {
    color: #00deaf;
    font-size: 2.2rem;
}

.logo p:hover {
    color: #00deaf;
}

.logo p span:hover {
    color: white;
}

.navig {
    display: flex;
    z-index: 1;
    width: 100%;
    height: 15vh;
    align-items: center;
    justify-content: space-evenly;
}

.navlinks {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    transition: ease-in .2s;
    -webkit-transition: ease-in .2s;
    -moz-transition: ease-in .2s;
    -ms-transition: ease-in .2s;
    -o-transition: ease-in .2s;
}

.navlinks.active {
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: #1f2235;
    text-align: center;
}

.vertical-navlinks {
    padding: 3rem 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.vertical-navlinks li {
    margin: 1rem auto;
}

.vertical-navlinks li a { 
    color: #ffffff;
    text-decoration: none;
    transition: ease-in .2s;
    -webkit-transition: ease-in .2s;
    -moz-transition: ease-in .2s;
    -ms-transition: ease-in .2s;
    -o-transition: ease-in .2s;
}

.vertical-navlinks li a:hover {    
    color: #ffffff;
}

.navlinks li a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    transition: ease-in .2s;
    -webkit-transition: ease-in .2s;
    -moz-transition: ease-in .2s;
    -ms-transition: ease-in .2s;
    -o-transition: ease-in .2s;
}

.navlinks li a:hover {
    color: #00deaf;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2235;
    width: 100%;
    height: 15vh;
    padding: 0 2rem;
    position: relative;
}

.fixed-nav {
    position: fixed;
    z-index: 10;
}

#sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: #010312;
}

.toggle-btn {
    text-align: center;
    font-size: 1.8rem;
    color: #ffffff;
    position: absolute;
    right: -100px;
    display: inline-block;
    width: 30px;
    transition: ease-in .2s;
    -webkit-transition: ease-in .2s;
    -moz-transition: ease-in .2s;
    -ms-transition: ease-in .2s;
    -o-transition: ease-in .2s;
}

.toggle-btn.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.social-links {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    margin: 100px auto;
    padding: 0;
    font-size: 2rem;
}

.container-2 {
    height: 85vh;
}

.socialnetworks {
    list-style: none;
    margin: 9rem 0 1.5rem;
    display: flex;
    font-size: 1.5rem;
    color: white;
    padding-left: 0;
}

.socialnetworks li {
    border: solid 2px #00deaf;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 .5rem;
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s; 
}

.socialnetworks li:hover {
    background-color: #00deaf;
}

.socialnetworks li a {
    color: white;
    line-height: 0px;
}

.about-me {
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
}

.link-portfolio {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 4rem;
    padding-left: 0;
}

.link-portfolio  li a {
    width: 180px;
    height: 60px;
    padding: 1rem 2rem;
    text-align: center;
    border: solid 2px #00deaf;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
}

.link-portfolio  li a:hover {
    background-color: #00deaf;
}

/* .link-portfolio li a {
    color: white;
} */

.section-title {
    text-align: center;
    margin-bottom: 5rem;
}

.section-title h2 {
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.section-title p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.about-info h3 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.aboutme-description a {
    text-decoration: underline;
    color: #9a9b9c;
}

.getmyportfolio a {
    color: #00deaf;
    font-weight: 500;
}

a#port4lio {
    color: white;
    font-size: 1rem;
    background-color: #00deaf;
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a#port4lio:hover {
    background-color: #00b38d;    
}

.contact-info strong {
    font-weight: 700;
    color: #00deaf;
}

.section-name {
    color: #00deaf;
    font-size: .9rem;
}

.item-service {
    background: #23263a;
    padding: 50px 35px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin-bottom: 30px;
}

.item-service:hover {
    background: #00deaf;
    box-shadow: 0px 0px 67px -25px rgb(232, 232, 232);
}

.item-service i {
    font-size: 46px;
    display: inline-block;
    transition: .8s linear;
    transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -webkit-transition: .8s linear;
    -moz-transition: .8s linear;
    -ms-transition: .8s linear;
    -o-transition: .8s linear;
}

.item-service h5 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.item-service-content p {
    font-size: 1rem;
    font-weight: 400;
}

/* CUSTOM CARD */
.work-item {
    position: relative;
    background: #23263a;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
}

.work-content {
    padding: 30px;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.list-inline-item p {
    font-size: 1rem;
    margin: 0;
}

.work-meta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.work-meta a {
    font-size: 1rem;
    color: #00deaf;
}

.work-meta a i {
    margin-left: 0.5rem;
}

.work-meta span {
    font-size: .8rem;
    margin-bottom: 1rem;
}

.work-thumb a img {
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
}

.work-thumb a img:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

/* CUSTOM CARD */


/* CONTACT PAGE */
.address {
    padding: 25px;
    padding-left: 20px;
    border-radius: 6px;
    background: #23263a;
}

.address span {
    font-weight: bold;
    position: relative;
    font-size: 16px;
    top: -10px;
    color: #fff;
    left: 10px;
}

.address p {
    margin-bottom: 0;
    color: #fff;
    margin-left: 45px;
}

.address i {
    font-size: 32px;
    color: #00deaf;
}

.contactform {
    margin-top: 70px;
}

.contactform input[type=text], .contactform input[type=email] {
    border: none;
    width: 100%;
    background: #23263a;
    color: #fff;
    padding: 20px 35px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.contactform textarea {
    border: none;
    background: #23263a;
    color: #fff;
    width: 100%;
    padding: 30px 35px;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    border-radius: 6px;
}

.contactform input[type=submit] {
    padding: 18px 60px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #00deaf;
    border: solid 2px #00deaf;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
}

/* CONTACT PAGE */

/* FOOTER */
.footer-text {
    font-size: 18px;
    line-height: 30px;
}

.footer-social {
    margin-top: 50px;
    margin-bottom: 70px;
}

.footer-social li a {
    width: 60px;
    height: 60px;
    color: #fff;
    background: #1F2235;
    text-align: center;
    padding: 13px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.copyright-text {
    padding: 30px 0;
}

.copyright-text a {
    color: #00deaf;
    font-weight: 400;
    font-size: 19px;
}

.custom-logo-link p {
    font-size: 2.7rem;
    font-weight: 600;
    color: white;
    margin: 0;
    padding: 0;
}

.custom-logo-link p span {
    color: #00deaf;
    font-size: 4rem;
}

.successbox {
    background-color: #313552;
    padding: 3rem;
    border: solid 2px #00deaf3d;
    border-radius: 5px;
}

.successbox a {
    color: #00deaf;
    font-size: .9rem;
}



/* FOOTER */



/* PORTOFLIO */



.promoted {
    width: 100%;
    padding-left: 4rem;
    padding-bottom: 3rem;
}




/* PORTOFLIO */


/* MEDIA QUERY */

@media screen and (max-width: 768px) {
    .navlinks {
        display: flex;
        justify-content: center;
        right: 0;
        left: 0;
        list-style: none;
        align-items: center;
        position: absolute;
        top: -300px;
    }

    .navlinks li {
        width: 400px;
        padding: 15px;
        text-align: center;
    }

    .toggle-btn {
        right: 70px
    }
}


/* MEDIA QUERY */